/* Variables */
:root {
    --foreground-color-2: #0fbf91;
}

/* Font, color scheme */
body {
    /* I should add more fonts for different OSes in the future */
    font-family: "Adwaita Sans", Ubuntu, sans-serif;
    color: #ffffff;
    background-color: #0b0b0b;
}
a:link, a:visited, a:hover, a:active {
    color: var(--foreground-color-2);
}

/* Content size */
body {
    margin: 0;
}
.main-content {
    margin-left: 8px;
    margin-right: 8px;
}

/* Navigation/header */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff0c;
    display: flex;
}
nav ul li a {
    display: block;
    padding: 0.7em 0.5em;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    background-color: #0b0b0b;
}
nav ul li a.current-page {
    color: #ffffff;
    background-color: #0ca77d;
}

/* Main page */
/* @media screen is probably a terrible solution for my problem but atp I spend like 3 hours trying to do it */
@media screen and (width >= 800px) {
    .latest-posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.post-card {
    border-style: solid;
    border-width: 2px;
    border-color: var(--foreground-color-2);
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    margin: 20px;
}
.post-card h3 {
    margin-top: 0;
}
.post-card p {
    margin-bottom: 0;
}
